
<span><h4>{{model.about}}</h4></span><br/><br/>
<span><h5>{{model.description}}</h5></span>
<br/><br/>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" {{action "goToQuestionnaire" model}}>
Proceed
</button>
